.env
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
/staticfiles/
/media/
.DS_Store
.idea/
.vscode/
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.zip
*.tar.gz
*.egg-info/
dist/
personal-notes.md
